<section id="review">
<section class="grid grid-cols-1 md:grid-cols-2 gap-10 p-5 md:p-10 text-white bg-teal-800 font-sans">

    <div class="flex justify-center md:justify-end">
        <img src="testimonials.png" alt="Testimonials" class="rounded-lg md:w-3/4 lg:w-full md:mt-20">

    </div>

    <div class="flex flex-col justify-center p-5 md:p-16 text-white">
        <h3 class="text-sm text-gray-300 mb-2 uppercase tracking-wider">OUR REVIEW</h3>
        <h2 class="text-2xl font-bold leading-snug mb-4">What they say about us honest reviews</h2>
        <p class="text-gray-300 mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed placerat elementum. Urna eu et purus et mi sit rhoncus.</p>
        <button class="w-1/2 md:w-1/3 py-2 px-4 bg-teal-600 hover:bg-teal-700 text-white rounded-md">
            View More
        </button>
    </div>
</section>
</section>